<div class="blog-section">
    <div class="blog-header">
        <h2 href="/posts/{{id}}">{{title}}</h2>
        <p>posted by {{user.username}} at {{created_at}}</p>
    </div>
    <p class="blog-text">
        {{post_content}}
    </p>
</div>
